* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:before, &:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666;
}
body input:required:valid,
body textarea:required:valid {
	color: #666;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

.owl-circle-nav {
	background-color: rgba($accent, .2);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	
	.fa {
		position: relative;
		top: -1.5px;
		line-height: 50px;
	}	

	&.disabled {
		background-color: transparent;
	}
}

.button {
	outline: 0;
	border: 0;
	color: #ffffff;
	padding: 0 40px;
	height: 46px;
	line-height: 46px;
	background-color: $accent;
	font-family: "Raleway";
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
	.fa {
		position: relative;
		top: -1.5px;
		margin-right: 5px;
	}
}
