@import "fonts";
@import "vars";
@import "base";

html, body {
	height: 100%;
	margin: 0;
	background-color: #f4f4f4;
}

body {
	min-width: 320px;
	position: relative;
	line-height: $default_line_height;
	font-size: $default_font_size;
	font-family: $default-font;
	color: $default_text_color;
	overflow-x: hidden;
	opacity: 1;
}



@import "media"; // Всегда в конце
