@import "fonts";
@import "vars";
@import "base";

html, body {
	height: 100%;
	margin: 0;
	background-color: #f4f4f4;
}

body {
	min-width: 320px;
	position: relative;
	line-height: $default_line_height;
	font-size: $default_font_size;
	font-family: $default-font;
	color: $default_text_color;
	overflow-x: hidden;
	opacity: 1;
}

.h1 {
	font-family: "Isadora";
	font-weight: bold;
	font-size: 52px;
	line-height: 1;
	margin: 0;
}

.h2, .h3, .h4 {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 1;
	text-align: center;
	margin: 0;
}

.h3, .h4 {
	font-weight: 800;
	font-size: 18px;
}

.h4 {
	font-weight: bold;
	text-align: left;
}

hr.accent {
	border-color: $accent;
	border-style: solid;
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #222;
	z-index: 100;

	.fa {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -38px;
		margin-left: -38px;
		color: #ffffff;
	}
}

.page-top {
	position: fixed;
	bottom: 20px;
	right: -100px;
	z-index: 99;
	cursor: pointer;
	@include circle(50px);
	background-color: $accent;
	font-size: 25px;
	color: #ffffff;
	opacity: .3;
	transition: all .5s ease-out;	

	&.active {		
		right: 20px;			
	}

	&:hover {
		opacity: 1;
	}
}

.page-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(#000, 0.7);
	z-index: 10;

	&-flex {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		padding: 27px 0;
	}
}

.logo {
	color: $accent;
	text-decoration: none;
	display: flex;
	margin-right: 60px;
	
	img {
		width: 50px;
		height: 50px;
	}

	&-text {		
		font-family: "NautilusPompilius";
		font-size: 25px;
		line-height: 1;
		margin-left: 8px;
		-moz-transform: matrix( 1,-0.13485275891962,0,1,0,0);
		-webkit-transform: matrix( 1,-0.13485275891962,0,1,0,0);
		-ms-transform: matrix( 1,-0.13485275891962,0,1,0,0);
		span {
			display: block;
			color: #ffffff;
		}
	}
}

.menu {
	list-style: none;
	padding: 0;
	margin: 0;
	li {		
		a {
			display: flex;
			align-items: center;
			text-transform: uppercase;
			color: #ffffff;
			font-size: 12px;
			display: inline-block;
			font-weight: bold;

			&:before {
				content: "\f105";
				display: inline-block;
				font-family: fontawesome;
				font-size: 16px;
				@include circle(20px);
				color: rgba(#fff, 0.349);
				margin-right: 7px;
				text-decoration: none;
				padding-left: 2px;
			}		

			&:hover {
				color: $accent;
				text-decoration: none;

				&:before {
					background-color: #94774a;	
					color: #1a1208;							
				}
			}
		}		
	}	

	&-header {
		flex-grow: 1;
		li {
			display: inline-block;
			margin-right: 40px;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	&-footer {
		margin-bottom: 50px;
		li {
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.phone {
	&-text {
		font-size: 12px;
		line-height: 1;
		color: rgba(#fff, 0.35);
	}

	&-number {
		font-family: RobotoCondensed;
		font-weight: bold;
		font-size: 24px;
		span {
			font-size: 16px;
		}
		.fa {
			color: $accent;
		}
	}
}

.hamburger {
	margin-left: 15px;
}

.section {
	position: relative;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;	
	z-index: 1;

	&-inverse {
		color: #fff;
	}

	&-overlay {
		position: relative;
		&::before {
			opacity: 0.8;
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;			
		}

		&.section-inverse::before {
			background-color: rgb(0, 0, 0);				
		}
	}

	&-top-button {
		position: absolute;
		top: 0;
		left: 50%;
		width: 58px;
		height: 58px;
		background-color: $accent;
		text-align: center;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		cursor: pointer;

		.fa {
			font-size: 25px;
			line-height: 58px;
			color: #ffffff;
		}		
	}

	&-main {
		padding-top: 150px;
		padding-bottom: 150px;
		font-size: 16px;
		line-height: 26px;
			
		&-img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-position: center center;
			background-size: cover;
			filter: blur(5px);			
		}

		.h1 {
			margin-bottom: 40px;			
		}

		p {
			margin: 0 20px 40px 0;
		}

		&.section-overlay::before {
			opacity: 0.3;
			z-index: 1;
		}
	}

	&-pizza {
		margin-top: -100px;		
		
		.container {
			background-color: #ffffff;
			padding: 80px 0 55px 0;
		}

		.h2 {
			margin-bottom: 42px;
		}

		.h3 {
			margin: 30px 0 18px;
		}

		p {
			font-size: 16px;
			line-height: 24px;
			margin: 25px 0 0;

			&.small {
				color: #666666;
				font-size: 14px;
				line-height: 20px;
				margin: 20px 0 30px;
			}
		}
	}

	&-zakuski {
		padding: 90px 0 75px;

		.h2 {
			margin-bottom: 40px;
			& + p {
				margin-bottom: 60px;
			}
		}
	}

	&-napitki {
		padding: 80px 0 25px;
		.h2 {
			margin: 0 0 30px;

			& + p {
				margin: 0 0 40px;
			}
		}
	}

	&-dostavka {
		padding: 90px 0;
		.h2 {
			margin: 0 0 30px;
		}
		p {
			margin: 0;
		}
	}

	&-address {
		padding: 80px 0 90px;

		.h2 {
			text-align: left;
		}

		.zakaz {
			background-color: #262626;
			padding: 26px;
			color: #ffffff;
			text-align: center;

			&-inner {
				border: 1px solid #515151;
				padding: 50px 24px 45px;
			}

			&-title {
				font-weight: 900;
				font-size: 30.57px;
				margin-bottom: 40px;
				text-transform: uppercase;

				span {
					color: $accent;
				}
			}

			&-list {
				padding: 0 0 20px;
				margin: 0 0 50px;
				list-style: none;
				font-size: 15px;
				line-height: 26px;	
				border-bottom: 1px solid #515151;			
				text-align: left;

				li {
					display: flex;
					align-items: center;
					margin-bottom: 10px;

					.fa {
						color: #b12a2a;
						margin-right: 10px;
					}
				}
			}

			&-item {
				margin: 0;
				white-space: nowrap;
			}

			&-dots {
				flex-grow: 1;
				height: 26px;
				overflow: hidden;
			 
				&:after {
					content:".......................................................................";
					letter-spacing: 1.5px;
				}

			}

			&-price {
				white-space: nowrap;
			}

			&-itogo {
				@extend .zakaz-title;
				font-size: 24px;	
				margin-bottom: 50px;			
			}
		}
	}

	&-footer {
		padding: 80px 0 30px 0;
		.h4 {
			margin-bottom: 30px;
		}

		[class^="col-"] {
			margin-bottom: 50px;
		}

		.footer-gallery {
			line-height: 0;
			font-size: 0;

			img {
				margin: 0 8px 11px 0;
				width: 84px;
				height: 67px;

				&:nth-child(4n) {
					margin-right: 0;
				}
			}
		}
	}
}

.main-carousel {
	&-item {
		display: flex;
		align-items: center;
	}

	&-composition {
		flex-grow: 4;
		order: 1;
	}

	&-img {
		flex-grow: 6;
		order: 2;
		padding: 30px 0px 20px 50px;
		position: relative;

		&::before {
			content: '';
			background-image: url('../img/smoke.png');
			opacity: 1;
			position: absolute;
			left: -100px;
			top: -90px;		
			width: 100%;
			height: 100%;
		}
	}

	.owl {
		&-prev, &-next {
			@extend .owl-circle-nav;

			&.disabled {
				background-color: rgba($accent, .2);
			}
		}

		&-next {
			right: -110px;
			.fa {
				left: 1.5px;							
			}
		}

		&-prev {
			left: -110px;
			.fa {
				right: 1.5px;
			}
		}

		&-dots {
			display: none;
		}
	}
}

.pizza-carousel {	
	&-item {
		padding: 15px;
	}

	&-img {
		background-image: url('../img/flour.jpg');
		background-position: center;
		font-family: "RobotoCondensed";
		font-weight: bold;
		color: #ffffff;
		text-align: center;
		padding: 0 0 30px;

		img {
			padding: 45px 45px 25px;
		}

		&-footer {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin-right: -15px;
		}
	}

	&-circle {
		box-sizing: content-box;		
		font-size: 16.71px;
		border: 5px solid $accent;
		border-radius: 50%;
		width: 35px;
		height: 35px;
		line-height: 35px;
		flex-shrink: 0;
		
		&.big {
			font-size: 20.25px;
			width: 40px;
			height: 40px;
			line-height: 40px;
			margin: 0 26px 0 13px;
		}
	}

	&-price {
		background-color: $accent;
		color: #ffffff;
		font-size: 24px;
		line-height: 45px;
		width: 136px;
		height: 45px;
	}

	.owl {
		&-prev, &-next {
			background-color: lighten($accent, 15%);
			width: 50px;
			height: 100px;
			
			.fa {
				position: relative;
				top: -1.5px;
				line-height: 100px;
			}	
		}

		&-next {
			right: -100px;
			border-top-left-radius: 100px;
			border-bottom-left-radius: 100px;
			
			.fa {
				left: 23px;							
			}
		}

		&-prev {
			text-align: right;
			left: -100px;
			border-top-right-radius: 100px;
			border-bottom-right-radius: 100px;

			.fa {
				right: 23px;
			}
		}

		&-dots {
			padding-top: 50px;
		}
	}
}

.zakuski-carousel {
	color: $default_text_color;
	text-align: center;
	font-size: 12px;	
	line-height: 20px;
	padding: 0 60px;

	&-item {
		background-color: #f2f2f2;
		
		.button {
			padding: 0;
			width: 100%;
		}
	}

	&-img {
		height: 178px;
		background-size: cover;
		background-position: center center;
	}

	&-price {
		position: absolute;
		top: 0;
		left: 50%;
		width: 58px;
		height: 58px;
		transform: translate(-50%, -50%);
		line-height: 16px;
		background-color: $accent;
		border-radius: 50%;
		color: #ffffff;
		align-items: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	&-text {
		position: relative;		
		font-size: 13px;
		line-height: 21px;
		background-color: #ffffff;
		padding-top: 50px;

		.h3 {
			margin: 0 0 25px;
		}

		p {
			margin: 0;
			padding-bottom: 20px;
		}

		& + p {
			margin: 015px 0;
		}
	}

	.owl {		
		&-prev, &-next {
			top: 42%;
			@extend .owl-circle-nav;
		}

		&-prev {
			left: 0;
		}

		&-next {
			right: 0;
		}

		&-dots {
			padding-top: 68px;
		}

		&-dot:not(.active) {
			background-color: #ffffff;
			opacity: 0.4;
		}
	}
}

.napitki-carousel {
	text-align: center;

	img.img-responsive {
		width: auto !important;
		height: 220px;
		margin: 0 auto 45px;
	}

	&-title {
		@extend .h3;
		font-size: 15.42px;
		line-height: 1;
	}

	&-price {
		font-weight: 800;
		line-height: 13.7px;
		color: #999999;
		margin: 15px 0 25px;
	}

	.owl {
		&-prev, &-next {
			@extend .owl-circle-nav;
			background-color: $accent;
			top: 38%;

			&.disabled {
				color: rgba(#000, 0.8);
			}
		}

		&-dots {
			display: none;
		}

		&-stage-outer {
			padding-top: 100px;			
			padding-bottom: 100px;
		}

		&-item {
			transition: transform 0.5s ease-out;
			&.active.scale {
				transform: scale(1.167);

				img {
					transform: scale(1.097) translateY(-13px);
				}
			}
		}
	}
}

.list {
	padding: 0;
	list-style: none;
	li {
		position: relative;
		margin-bottom: 15px;
		.fa {
			position: absolute;
			top: 0;
			transform: translateX(calc(-100% - 7px));
		}	
	}

	&-contacts {
		li {
			font-size: 14px;
			padding-left: 21px;
			.fa {
				top: 7px;
				width: 15px;
			}
		}
	}

	&-socials {
		font-size: 12px;
		text-transform: uppercase;
		font-weight: bold;

		li {
			padding-left: 34px;			
			.fa {
				@include circle(27px);
				background-color: #94774a;				
				font-size: 16px;
			}			
		}
	}
}

@import "media"; // Всегда в конце
